<!DOCTYPE HTML>
<html lang="zh" ng-app="app">
<head>
  <meta charset="utf-8">
  <title></title>
  <style type="text/css">
  li{
    line-height: 30px;
  }
  li.nav{
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
  }
  li.nav:hover{
    color:red;
  }
  li.nav.active{
    color:blue;
  }
  </style>
</head>
<body ng-controller="main">
<nav>
    <li class="nav" ng-class="currNav === item ? 'active' : '' " ng-click="go(item)" ng-repeat="item in navList">
      {{item.name}}
    </li>
</nav>

<ng-view></ng-view>
<script type="text/javascript" src="lib/angular.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="pages/hot/index.js"></script>
<script type="text/javascript" src="pages/hot/service/service.js"></script>
<script type="text/javascript" src="pages/hot/directive/commentbox.js"></script>
</body>
</html>
